<mat-card>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)] = "username">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Total time phone accessed in a day(in hrs)</mat-label>
      <input matInput [(ngModel)] = "time" type = "number">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Date</mat-label>
      <input matInput [(ngModel)] = "date" type="date">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>mood (good/bad/average)</mat-label>
      <input matInput [(ngModel)] = "mood">
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" (click)="add()">Submit</button>
</mat-card>
